---
layout: default
---

<div class="home">

    <div class="row">
        <div class="column">
        {% capture md_blurb %}{% include blurb.md %}{% endcapture %}
        {{ md_blurb | append: ' ' | markdownify }}
        </div>
        <div class="column">
        {% capture md_news %}{% include news.md %}{% endcapture %}
        {{ md_news | append: ' ' | markdownify }}
        </div>
    </div>

    <!--
    <div class="row">

        <div class="column">
            {{ site.pages[0].content }}
        </div>

        <div class="column">

            <h2 class="page-heading">Code</h1>
            <ul class="post-list">
                {% for post in site.categories.code %}
                    {% include page-item.html %}
                {% endfor %}
            </ul>

            <h2 class="page-heading">Scores</h1>
            <ul class="post-list">
                {% for post in site.categories.scores %}
                    {% include page-item.html %}
                {% endfor %}
            </ul>

            <h2 class="page-heading">Tapes</h1>
            <ul class="post-list">
                {% for post in site.categories.tapes %}
                    {% include page-item.html %}
                {% endfor %}
            </ul>

        </div>

    </div>
    -->

</div>