---
layout: default
---

<div class="home">

    <div class="column">
        {{ site.pages[0].content }}
    </div>

    <div class="column">

        <h1 class="page-heading">Code</h1>
        <ul class="post-list">
            {% for post in site.categories.code %}
                {% include page-item.html %}
            {% endfor %}
        </ul>

        <h1 class="page-heading">Scores</h1>
        <ul class="post-list">
            {% for post in site.categories.scores %}
                {% include page-item.html %}
            {% endfor %}
        </ul>

        <h1 class="page-heading">Tapes</h1>
        <ul class="post-list">
            {% for post in site.categories.tapes %}
                {% include page-item.html %}
            {% endfor %}
        </ul>

    </div>

</div>